name: Full Deployment to EC2 via ECR

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build, Push to ECR, and Deploy to EC2
    runs-on: ubuntu-latest

    env:
      IMAGE_TAG: omar509  

    steps:

    ### 1 - Perform Unit Testing
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      

    - name: Run tests
      run: pytest
    ### 2 - Build  API Image in the Runner
    - name: Build Docker image
      run: docker build -t churn-prediction:$omar509 .
    ### 3 - Push to ECR called churn-prediction with tag omar123
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, Tag, and Push Docker image
      run: |
        ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }}
        ECR_REPO=${{ secrets.ECR_REPO_NAME }}
        FULL_IMAGE=$ECR_REGISTRY/$ECR_REPO:$omar509
        docker build -t $FULL_IMAGE .
        docker push $FULL_IMAGE