name: Full Deployment to EC2 via ECR

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build, Push to ECR, and Deploy to EC2
    runs-on: ubuntu-latest

    env:
      IMAGE_TAG: omar509  # <-- Replace with your name + last 3 digits of phone

    steps:

    ### 1 - Perform Unit Testing
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      

    - name: Run tests
      run: pytest
